body {
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #75B79E;
    font-weight: bold;
    font-size: 56px;
    margin-top: 40px;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;

    flex-direction: column;
}

.card {
    width: 200px;
    height: 250px;
    position: relative;
    margin-right: 34px;
    margin-bottom: 34px;
}

ul {
    list-style-type: none;
}

.card img {
    width: 100px;
    height: 100px;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
}

.carta-virada .back-face {
    transform: rotateY(0deg);
}

.carta-virada .front-face {
    transform: rotateY(-180deg);
}

.carta-volta .back-face {
    transform: rotateY(-180deg);
}

.carta-volta .front-face {
    transform: rotateY(0deg);
}

.jogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 47px 116px;
}

@media (max-width: 635px) {
    h1 {
        margin: 0 12px;
        margin-top: 40px;
    }
}